.homeStayList {
  display: grid;
  gap: 24px;
  padding: 0px 80px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.homePageContent {
  /* padding: 0px 80px; */
  max-width: 1920px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 1439.9px) {
  .homePageContent {
    padding-left: 40px;
    padding-right: 40px;
  }
}
